

* {
  box-sizing: border-box;
}
 
body {
  margin: 0;
  min-height: 200vh;
  font-size: 0;
  font-family: Helvetica, Verdana, sans-serif;
}
 
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 16px 20px 30px 20px;
  z-index: 1;
  display: flex;
  align-items: center;
  transition: 0.3s ease-out;
  backdrop-filter: blur(8px) brightness(1.2);
  -webkit-backdrop-filter: blur(8px) brightness(1.2);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 16px;
}
nav.mask {
    display: flex;
    justify-content: space-between;
  mask-image: linear-gradient(black 70%, transparent);
  -webkit-mask-image: linear-gradient(black 70%, transparent);
}
@media (min-width: 640px) {
  nav {
    padding: 16px 50px 30px 50px;
  }
}
 
nav.is-hidden {
  transform: translateY(-100%);
}
 
a {
  color: inherit;
  text-decoration: none;
  z-index: 0;
}
a:hover,
a:focus {
  text-decoration: underline;
}
 
.nav-list {
  list-style-type: none;
  margin-left: auto;
  display: none;
}
@media (min-width: 640px) {
  .nav-list {
    display: flex;
  }
}
.nav-list li {
  margin-left: 20px;
}
 
.menuList {
  display: inline-block;
  padding: 0;
  font-size: 0;
  background: none;
  border: none;
  margin-left: 20px;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
}
.menuList::before {
  content: url("data:image/svg+xml, %3Csvg%20xmlns=%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox=%270%200%2024.8%2018.92%27%20width=%2724.8%27%20height=%2718.92%27%3E%3Cpath%20d=%27M23.8,9.46H1m22.8,8.46H1M23.8,1H1%27%20fill=%27none%27%20stroke=%27%23fff%27%20stroke-linecap=%27round%27%20stroke-width=%272%27%2F%3E%3C%2Fsvg%3E");
}
@media (min-width: 640px) {
  .menuList {
    display: none;
  }
}
 
 
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
 
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
 
.sidebar a:hover {
  color: #f1f1f1;
}
 
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
 
.openbtn {
  font-size: 20px;
  cursor: pointer;
  /* background-color: #111; */
  color: white;
  padding: 10px 15px;
  border: none;
}
 
 
#main {
  transition: margin-left .5s;
  padding: 16px;
}
 
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
 
