nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    font-family: "Rajdhani", sans-serif;
    font-weight: 500;
  
  }
  .navbar-nav{
    margin-left: 60%;
    font-size: 1.3rem;
  }

  @media (min-width: 750px)and (max-width:1200px){
    .navbar-nav{
      margin-left: 40%;
      font-size: 1.3rem;
    }
  }

  @media (min-width: 1160px)and (max-width:1288px){
    .navbar-nav{
      margin-left: 45%;
      font-size: 1.3rem;
    }
  }

  @media (min-width: 1288px)and (max-width:1458px){
    .navbar-nav{
      margin-left: 52%;
      font-size: 1.3rem;
    }
  }


  
  .nav1:hover{    
    background-color: transparent; 
}
.nav-item {
  margin-right: 20px; /* Adjust the value to increase or decrease the space */
}

.nav-item:active{
  color: white;
  background-color: transparent;
} 

#nav5{
  animation-name:glow;
  animation-duration:1.5s;
  animation-iteration-count:infinite;
  animation-direction:alternate;
}
@keyframes glow{
  from{text-shadow:0px 0px 10px #ff9292,0px 0px 10px #ff9292;}
  to{text-shadow:0px 0px 20px #ff0000,0px 0px 20px #ff0000;}
}

@media (max-width:800px){
#logo{
  width: 40;
  height: 40;
}
}



  body {
    background-image: url("assets/Untitled design (13)_pc.png");
    background-color: black;
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;
    height: 80vh; /* Ensure the background covers the entire viewport height */
  }

  @media screen and (max-width: 900px) {
    body {
      background-image: url("assets/Untitled design (13).png");
      background-color: black;
      background-repeat: no-repeat; 
      background-size: cover;
      background-attachment: fixed;
      height: 100%; /* Ensure the background covers the entire viewport height */
      width: 100%;
      margin: 0;
    }
  }
  

/*countdown*/
.countdown{
    background-image: url("assets/Untitled design (12) (2).png");
    box-shadow: 0px 0px 20px 40px rgba(0, 0, 0,1) inset;
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 1.0) 60%, transparent 100%);
    width: 100%; 
}

.begin{
    color: white;
    font-family: "Kanit", sans-serif; 
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    padding-top: 8%;
    padding-bottom: 3%;
}


.container2{
  display: flex;
  justify-content: center;
  padding-bottom: 5%;
  padding-top: 2%;
}
.cdt{
    color:white;
    font-weight: 400;
}
.st3{
  color:aliceblue;
  text-align: center;
  text-transform: uppercase;
  border-right: 4px solid rgba(255, 0, 0, 0.53);
}

ul.date li{
  display: inline-block;
  font-size: 1.5em;
  color:aliceblue;
  text-align: center;
 
  padding-left: 2em;
  padding-right: 2em;
  text-transform: uppercase;
}
ul.date li span {
  text-align: center;
  font-size: 4.5rem;
}

@media screen and (max-width: 768px) {
  ul.date li {
    font-size: calc(1.125rem * var(--smaller));
  }
  
  ul.date li span {
    font-size: calc(3.375rem * var(--smaller));
  }
}


/*flexbox*/
.topau{
  width: 100%;
  text-align: center;
}

.au-title{
  color: white;
  font-size: 4.7em;
  font-family: "Kanit", sans-serif; 
  font-weight: 600;
  text-align: center;
  
}

.au-title:after{
  color: white;
  font-size: 5em;
  font-family: "Kanit", sans-serif; 
  font-weight: 600;
  text-align: center;
  content: '';
  display: block;
  position: relative;
  width: 52%;
  border-bottom: 2px solid rgba(255, 0, 0, 0.637);
}

.bottomau{
  margin-top: 6%;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
}

.flex-container{
  margin-top: 30%;
}

.text-area{
  background-color: rgba(255,255,255,0.2);
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
}
.text{
  color: white;
  font-size: 1.5rem;
  font-family: "Kanit", sans-serif; 
  font-weight: 200;
  line-height: 1.6;
}







/*EVENTS*/

.flex-container2{
  margin-top: 25%;
  justify-content: center;
}

.evtitle{
  width: 100%;
  text-align: center;
}
.evtitle:after {
  content: '';
  display: block;
  position: relative;
  margin-left: 50%;
  width: 50%;
  border-bottom: 2px solid rgba(255, 0, 0, 0.637);
}
.evtext{
  color: white;
  font-size: 4.7em;
  font-family: "Kanit", sans-serif; 
  font-weight: 600;
}





.center-container {
  display: flex;
  justify-content: center;
}

.evcontent {
  padding-left: 5em;
  padding-right: 5em;
  margin-top: 6%;
  justify-content: center;
  width: 100%;
  display: grid;
  grid-auto-rows: 350px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 8em;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(27, 45, 49);
  opacity: 60%;
  border-radius: 30%;
  transition: background 0.5s ease;
}

article {
  width: 100%;
  height: 90%;
}

.container3 {
  perspective: 1000px;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.flipper {
  position: relative;
  width: 100%;
  height: 100%;
  transform: rotateY(0deg);
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: transform 2s ease;
  will-change: transform;
}

.container3:hover .flipper {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform-origin: center;
}

.front {
  z-index: 2;
}

.back {
  transform: rotateY(180deg);
}

.container3:hover .overlay {
  display: block;
  background: rgb(42, 43, 43);
}

.eventimg {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 30%;
  filter: brightness(90%);
}


.title {
  position: absolute;
  width: 100%;
  top: 110px;
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  z-index: 1;
  transition: top .5s ease;
}

.container3:hover .title {
  top: 90px;
}

@media (min-width: 1315px){

#carrom{
  margin-left: 70%;
}
#chess{
  margin-left: 70%;
}

}

/*EVENTS Buttons*/
/*2 common buttons for 7 cards*/
.button1{
  width: 45%;
  position: relative;
  text-align: center;
  transition: opacity .35s ease;
  z-index: 1;
  top: 35%;
  font-family: "Kanit", sans-serif;
  font-size: 1em;
  margin-left: 28%;
  transform: translate(0, -50%);
}
.button1 a{
  width: 100%;
  padding: 12px 30px;
  text-align: center;
  color: white;
  border: solid 2px rgb(255, 255, 255);
  z-index: 1;
  
}

.button2{
  width: 45%;
  position: relative;
  text-align: center;
  transition: opacity .35s ease;
  z-index: 1;
  top:50%;
  font-family: "Kanit", sans-serif;
  font-size: 1em;
  margin-left: 28%;
}
.button2 a{
  width: 100%;
  padding: 12px 22px;
  text-align: center;
  color: white;
  border: solid 2px rgb(255, 255, 255);
  z-index: 1;
}

/*3 buttons for 3rd card*/
.button3-1{
  width: 65%;
  position: relative;
  text-align: center;
  transition: opacity .35s ease;
  z-index: 1;
  top: 30%;
  font-family: "Kanit", sans-serif;
  font-size: 1em;
  margin-left: 17.5%;
  transform: translate(0, -50%);
}
.button3-1 a{
  width: 100%;
  padding: 12px 30px;
  text-align: center;
  color: white;
  border: solid 2px rgb(255, 255, 255);
  z-index: 1;
  
}

.button3-2{
  width: 65%;
  position: relative;
  text-align: center;
  transition: opacity .35s ease;
  z-index: 1;
  top:40%;
  font-family: "Kanit", sans-serif;
  font-size: 1em;
  margin-left: 17.5%;
}
.button3-2 a{
  width: 100%;
  padding: 12px 22px;
  text-align: center;
  color: white;
  border: solid 2px rgb(255, 255, 255);
  z-index: 1;
}

.button3-3{
  width: 65%;
  position: relative;
  text-align: center;
  transition: opacity .35s ease;
  z-index: 1;
  top:53%;
  font-family: "Kanit", sans-serif;
  font-size: 1em;
  margin-left: 17.5%;
}
.button3-3 a{
  width: 100%;
  padding: 12px 22px;
  text-align: center;
  color: white;
  border: solid 2px rgb(255, 255, 255);
  z-index: 1;
}

/*4 buttons for 1st card*/
.button1-1{
  width: 65%;
  position: relative;
  text-align: center;
  transition: opacity .35s ease;
  z-index: 1;
  top: 19%;
  font-family: "Kanit", sans-serif;
  font-size: 1em;
  margin-left: 17.5%;
  transform: translate(0, -50%);
}
.button1-1 a{
  width: 100%;
  padding: 12px 30px;
  text-align: center;
  color: white;
  border: solid 2px rgb(255, 255, 255);
  z-index: 1;
  
}

.button1-2{
  width: 65%;
  position: relative;
  text-align: center;
  transition: opacity .35s ease;
  z-index: 1;
  top:29%;
  font-family: "Kanit", sans-serif;
  font-size: 1em;
  margin-left: 17.5%;
}
.button1-2 a{
  width: 100%;
  padding: 12px 22px;
  text-align: center;
  color: white;
  border: solid 2px rgb(255, 255, 255);
  z-index: 1;
}

.button1-3{
  width: 65%;
  position: relative;
  text-align: center;
  transition: opacity .35s ease;
  z-index: 1;
  top:42%;
  font-family: "Kanit", sans-serif;
  font-size: 1em;
  margin-left: 17.5%;
}
.button1-3 a{
  width: 100%;
  padding: 12px 22px;
  text-align: center;
  color: white;
  border: solid 2px rgb(255, 255, 255);
  z-index: 1;
}

.button1-4{
  width: 65%;
  position: relative;
  text-align: center;
  transition: opacity .35s ease;
  z-index: 1;
  top:55%;
  font-family: "Kanit", sans-serif;
  font-size: 1em;
  margin-left: 17.5%;
}
.button1-4 a{
  width: 100%;
  padding: 12px 22px;
  text-align: center;
  color: white;
  border: solid 2px rgb(255, 255, 255);
  z-index: 1;
}




/*Footer*/

.footer-area {
  background-color: rgba(0, 0, 0, 0.352);
  display: flex;
  flex-direction: column; /* Change to column direction */
  justify-content: center;
  align-items: center; /* Align items to center */
  text-align: center;
  width: 100%;
  height: 13vh; /* Use viewport height for responsiveness */
  margin-top: 17%; /* Use pixels for margin-top */
}

.footer-text {
  position: relative;
  color: white;
  font-family: "Kanit", sans-serif;
  font-weight: lighter;
  font-size: 1em;
  margin-bottom: 1%; /* Add some bottom margin for spacing */
}

.social-menu {
  position: relative;
  display: flex;
  flex-direction: column; /* Change to column direction */
  align-items: center; /* Align items to center */
}

.social-menu .fab {
  font-size: 2em;
  line-height: 60px;
  transition: 0.3s;
  color: #000;
}

.social-menu .fab:hover {
  color: #fffbfb;
}

.social-menu a {
  position: relative;
  width: 60px;
  height: 60px; /* Set a fixed height for consistency */
  border-radius: 50%;
  background-color: #ffffff97;
  text-align: center;
  transition: 0.6s;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
  transform: scale(0.7);
  margin-bottom: 10px; /* Add some bottom margin for spacing */
}

.social-menu a:hover {
  transform: translate(0, 1.2%);
  background-color: #ff00005c;
}


